
.Button {
    padding: 10px;
    display: inline-block;
    width: 100px;
    border-radius: 0;
    border: 0;
}

.Button:hover {
    cursor: pointer;
}

.Button--success {
    background-color: #4a934c;
    color: #fff;
}

.Button--danger {
    background-color: #c14e4a;
    color: #fff;
}