

.Chat {
    width: 90%;
    margin: 0 auto;
}

.Chat .Chat_Window {
    overflow-y: scroll;
    border: 1px solid black;
    height: 500px;
}

.Chat .Chat_Input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.Chat .Chat_Input input {
    padding: 10px;
    display: inline-block;
    flex-grow: 1;
    margin-right: 10px;
}

